@import "tailwindcss";

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-background: var(--color-background);
  --color-text: var(--color-text);
}

.animate-fade-in-1 {
  animation: fadeIn 1s ease-in-out;
}

.animate-fade-in-2 {
  animation: fadeIn 1.5s ease-in-out;
}

.animate-fade-in-3 {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
